<div class="table-responsive">

  <table class="table table-striped">
    <thead>
      <tr>
        <th class="text-center" scope="col">Code</th>
        <th class="text-center" scope="col">Full name</th>
        <th class="text-center" scope="col">Division</th>
        <th class="text-center" scope="col">Position</th>
        <th class="text-center" scope="col">Begin date</th>
        <th class="text-center" scope="col">Birthday</th>
        <th class="text-center" scope="col">Identification</th>
        <th class="text-center" scope="col">Total salary</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees" (click)="employeeSelected(employee,content)" style="cursor: pointer;">
        <td class="text-center">{{ employee.EmployeeCode }}</td>
        <td class="text-center"> {{ employee.EmployeeSurname }} {{ employee.EmployeeName }}</td>
        <td class="text-center">{{ employee.Division }}</td>
        <td class="text-center">{{ employee.Position }}</td>
        <td class="text-center">{{ employee.BeginDate }}</td>
        <td class="text-center">{{ employee.Birthday }}</td>
        <td class="text-center">{{ employee.Identification }}</td>
        <td class="text-center">{{ employee.TotalSalary | mycurrency }}</td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
      (pageChange)="refreshEmployees()">
    </ngb-pagination>

    <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshEmployees()">
      <option [ngValue]="5">5 items per page</option>
      <option [ngValue]="10">10 items per page</option>
      <option [ngValue]="15">15 items per page</option>
      <option [ngValue]="20">20 items per page</option>
    </select>
  </div>

</div>

<!-- ----------------------------------------------------------- -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Filter Employees</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="headerModal">
      <div>{{ employeeSelectedItem.EmployeeSurname }} {{ employeeSelectedItem.EmployeeName }}</div>
      <div> Office: {{ employeeSelectedItem.Office}}</div>
      <div> Grade: {{ employeeSelectedItem.Grade}}</div>
      <div> Position: {{ employeeSelectedItem.Position}}</div>
    </div>
    <!-- ------------------------------------------- -->

    <nav ngbNav #nav="ngbNav" class="nav-tabs">

      <ng-container ngbNavItem>
        <a ngbNavLink>Same Office & Grade</a>
        <ng-template ngbNavContent>
          <div *ngIf="employeesOne.length === 0" style="padding: 20px; text-align: center;color: darkgray;">No Match
          </div>
          <div *ngIf="employeesOne.length > 0" class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="text-center" scope="col">Code</th>
                  <th class="text-center" scope="col">Full Name</th>
                  <th class="text-center" scope="col">Division</th>
                  <th class="text-center" scope="col">Position</th>
                  <th class="text-center" scope="col">Grade</th>
                  <th class="text-center" scope="col">Office</th>
                  <th class="text-center" scope="col">Begin date</th>
                  <th class="text-center" scope="col">Birthday</th>
                  <th class="text-center" scope="col">Identification</th>
                  <th class="text-center" scope="col">Total salary</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let employee of employeesOne">
                  <td class="text-center">{{ employee.EmployeeCode }}</td>
                  <td class="text-center"> {{ employee.EmployeeSurname }} {{ employee.EmployeeName }}</td>
                  <td class="text-center">{{ employee.Division }}</td>
                  <td class="text-center">{{ employee.Position }}</td>
                  <td class="text-center">{{ employee.Grade }}</td>
                  <td class="text-center">{{ employee.Office }}</td>
                  <td class="text-center">{{ employee.BeginDate }}</td>
                  <td class="text-center">{{ employee.Birthday }}</td>
                  <td class="text-center">{{ employee.Identification }}</td>
                  <td class="text-center">{{ employee.TotalSalary | mycurrency }}</td>
                </tr>
              </tbody>
            </table>

            <div *ngIf="employeesOne.length>pageSizeOne" class="d-flex justify-content-between p-2">
              <ngb-pagination [collectionSize]="collectionSizeOne" [(page)]="pageOne" [pageSize]="pageSizeOne"
                (pageChange)="refreshEmployees(one)">
              </ngb-pagination>

              <select class="custom-select" style="width: auto" [(ngModel)]="pageSizeOne"
                (ngModelChange)="refreshEmployees(one)">
                <option [ngValue]="5">5 items per page</option>
                <option [ngValue]="10">10 items per page</option>
              </select>
            </div>

          </div>
        </ng-template>
      </ng-container>


      <ng-container ngbNavItem>
        <a ngbNavLink>Same Grade</a>
        <ng-template ngbNavContent>
          <div *ngIf="employeesTwo.length === 0" style="padding: 20px; text-align: center;color: darkgray;">No Match
          </div>
          <div *ngIf="employeesTwo.length > 0" class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="text-center" scope="col">Code</th>
                  <th class="text-center" scope="col">Full Name</th>
                  <th class="text-center" scope="col">Division</th>
                  <th class="text-center" scope="col">Position</th>
                  <th class="text-center" scope="col">Grade</th>
                  <th class="text-center" scope="col">Office</th>
                  <th class="text-center" scope="col">Begin date</th>
                  <th class="text-center" scope="col">Birthday</th>
                  <th class="text-center" scope="col">Identification</th>
                  <th class="text-center" scope="col">Total salary</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let employee of employeesTwo">
                  <td class="text-center">{{ employee.EmployeeCode }}</td>
                  <td class="text-center"> {{ employee.EmployeeSurname }} {{ employee.EmployeeName }}</td>
                  <td class="text-center">{{ employee.Division }}</td>
                  <td class="text-center">{{ employee.Position }}</td>
                  <td class="text-center">{{ employee.Grade }}</td>
                  <td class="text-center">{{ employee.Office }}</td>
                  <td class="text-center">{{ employee.BeginDate }}</td>
                  <td class="text-center">{{ employee.Birthday }}</td>
                  <td class="text-center">{{ employee.Identification }}</td>
                  <td class="text-center">{{ employee.TotalSalary | mycurrency }}</td>
                </tr>
              </tbody>
            </table>

            <div *ngIf="employeesTwo.length>pageSizeTwo" class="d-flex justify-content-between p-2">
              <ngb-pagination [collectionSize]="collectionSizeTwo" [(page)]="pageTwo" [pageSize]="pageSizeTwo"
                (pageChange)="refreshEmployees(two)">
              </ngb-pagination>

              <select class="custom-select" style="width: auto" [(ngModel)]="pageSizeTwo"
                (ngModelChange)="refreshEmployees(two)">
                <option [ngValue]="5">5 items per page</option>
                <option [ngValue]="10">10 items per page</option>
              </select>
            </div>
          </div>
        </ng-template>
      </ng-container>


      <ng-container ngbNavItem>
        <a ngbNavLink>Same Position & Grade</a>
        <ng-template ngbNavContent>
          <div *ngIf="employeesThree.length === 0" style="padding: 20px; text-align: center;color: darkgray;">No Match
          </div>
          <div *ngIf="employeesThree.length > 0" class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="text-center" scope="col">Code</th>
                  <th class="text-center" scope="col">Full Name</th>
                  <th class="text-center" scope="col">Division</th>
                  <th class="text-center" scope="col">Position</th>
                  <th class="text-center" scope="col">Grade</th>
                  <th class="text-center" scope="col">Office</th>
                  <th class="text-center" scope="col">Begin date</th>
                  <th class="text-center" scope="col">Birthday</th>
                  <th class="text-center" scope="col">Identification</th>
                  <th class="text-center" scope="col">Total salary</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let employee of employeesThree">
                  <td class="text-center">{{ employee.EmployeeCode }}</td>
                  <td class="text-center"> {{ employee.EmployeeSurname }} {{ employee.EmployeeName }}</td>
                  <td class="text-center">{{ employee.Division }}</td>
                  <td class="text-center">{{ employee.Position }}</td>
                  <td class="text-center">{{ employee.Grade }}</td>
                  <td class="text-center">{{ employee.Office }}</td>
                  <td class="text-center">{{ employee.BeginDate }}</td>
                  <td class="text-center">{{ employee.Birthday }}</td>
                  <td class="text-center">{{ employee.Identification }}</td>
                  <td class="text-center">{{ employee.TotalSalary | mycurrency }}</td>
                </tr>
              </tbody>
            </table>
            <div *ngIf="employeesThree.length>pageSizeThree" class="d-flex justify-content-between p-2">
              <ngb-pagination [collectionSize]="collectionSizeThree" [(page)]="pageThree" [pageSize]="pageSizeThree"
                (pageChange)="refreshEmployees(three)">
              </ngb-pagination>

              <select class="custom-select" style="width: auto" [(ngModel)]="pageSizeThree"
                (ngModelChange)="refreshEmployees(three)">
                <option [ngValue]="5">5 items per page</option>
                <option [ngValue]="10">10 items per page</option>
              </select>
            </div>
          </div>
        </ng-template>
      </ng-container>

    </nav>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>

    <!-- ------------------------------------------- -->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>