<form (submit)="submit()" [formGroup]="userForm">

    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="Identification">Identification</label>
            <input type="number" class="form-control " id="Identification" formControlName="Identification"
                [class.is-invalid]="IdentificationInvalid">
            <div class="invalid-feedback"> Error here! </div>
        </div>

        <div class="col-md-4 mb-3">
            <label for="EmployeeName">Employee name</label>
            <input type="text" class="form-control " id="EmployeeName" formControlName="EmployeeName"
                [class.is-invalid]="EmployeeNameInvalid">
            <div class="invalid-feedback"> Error here! </div>
        </div>

        <div class="col-md-4 mb-3">
            <label for="EmployeeSurname">Employee surname</label>
            <input type="text" class="form-control " id="EmployeeSurname" formControlName="EmployeeSurname"
                [class.is-invalid]="EmployeeSurnameInvalid">
            <div class="invalid-feedback"> Error here! </div>
        </div>
    </div>

    <div class="form-row">

        <div class="col-md-6 mb-3">
            <label for="BirthDay">Birthday</label>
            <div style="display: flex;flex-direction: row;">
                <input class="form-control" name="dp" ngbDatepicker #d1="ngbDatepicker" id="BirthDay"
                    formControlName="BirthDay" [class.is-invalid]="BirthDayInvalid">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button">
                        <i class="mdi mdi-calendar-today"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-3">
            <label for="BeginDate">Begin date</label>
            <div style="display: flex;flex-direction: row;">
                <input class="form-control" name="dp2" ngbDatepicker #d2="ngbDatepicker" id="BeginDate"
                    formControlName="BeginDate" [class.is-invalid]="BeginDateInvalid">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button">
                        <i class="mdi mdi-calendar-today"></i>
                    </button>
                </div>
            </div>
        </div>

    </div>

    <div class="form-row">


        <div class="form-group col-md-4 mb-3">
            <label for="Position">Position</label>
            <select class="form-control" id="Position" formControlName="Position" [class.is-invalid]="PositionInvalid">
                <option [value]="item.Name" *ngFor="let item of allPositions">{{item.Name}}</option>
            </select>
        </div>

        <div class="form-group col-md-4 mb-3">
            <label for="Grade">Grade</label>
            <select class="form-control" id="Grade" formControlName="Grade" [class.is-invalid]="GradeInvalid">
                <option [value]="item" *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18]">{{item}}
                </option>
            </select>
        </div>

        <div class="col-md-4 mb-3">
            <label for="BaseSalary">Base salary</label>
            <input type="number" class="form-control" id="BaseSalary" formControlName="BaseSalary"
                [class.is-invalid]="BaseSalaryInvalid">
            <div class="invalid-feedback"> Error here! </div>
        </div>
    </div>

    <div class="form-row">

        <div class="form-group col-md-6 mb-3">
            <label for="Office">Office</label>
            <select class="form-control" id="Office" formControlName="Office" [class.is-invalid]="OfficeInvalid">
                <option [value]="item.Code" *ngFor="let item of allOffices">{{item.Name}}</option>
            </select>
        </div>

        <div class="form-group col-md-6 mb-3">
            <label for="Division">Division</label>
            <select class="form-control" id="Division" formControlName="Division" [class.is-invalid]="DivisionInvalid">
                <option [value]="item.Name" *ngFor="let item of allDivisions">{{item.Name}}</option>
            </select>
        </div>

    </div>

    <div class="form-row">
        <div class="form-group col-md-6 mb-3">
            <label for="Year">Year</label>
            <select class="form-control" id="Year" formControlName="Year" [class.is-invalid]="YearInvalid">
                <option [value]="item" *ngFor="let item of YearsSelect">{{item}}</option>
            </select>
        </div>

        <div class="form-group col-md-6 mb-3">
            <label for="Month">Month</label>
            <select class="form-control" id="Month" formControlName="Month" [class.is-invalid]="MonthInvalid">
                <option [value]="item" *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11,12]">{{item}}</option>
            </select>
        </div>
    </div>


    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="ProductionBonus">Production bonus</label>
            <input type="number" class="form-control " id="ProductionBonus" formControlName="ProductionBonus"
                [class.is-invalid]="ProductionBonusInvalid">
            <div class="invalid-feedback"> Error here! </div>
        </div>

        <div class="col-md-6 mb-3">
            <label for="CompensationBonus">Compensation bonus</label>
            <input type="number" class="form-control " id="CompensationBonus" formControlName="CompensationBonus"
                [class.is-invalid]="CompensationBonusInvalid">
            <div class="invalid-feedback"> Error here! </div>
        </div>

    </div>


    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="Commission">Commission</label>
            <input type="number" class="form-control " id="Commission" formControlName="Commission"
                [class.is-invalid]="CommissionInvalid">
            <div class="invalid-feedback"> Error here! </div>
        </div>

        <div class="col-md-6 mb-3">
            <label for="Contributions">Contributions</label>
            <input type="number" class="form-control " id="Contributions" formControlName="Contributions"
                [class.is-invalid]="ContributionsInvalid">
            <div class="invalid-feedback"> Error here! </div>
        </div>

    </div>
    <div style="text-align: right;">
        <button class="btn btn-primary" type="submit" [disabled]="userForm.invalid">Save Data</button>
    </div>

</form>