<div class="all">

    <!-- data ingress -->
    <form (submit)="submit()" [formGroup]="userForm">

        <div class="form-row" style="display: flex; align-items: baseline; justify-content: center;">

            <label for="Code">Employee Code:</label>
            <div class="col-md-4 mb-3">
                <input type="number" class="form-control " id="Code" formControlName="Code" placeholder="" value="Mark"
                    required>
                <div class="invalid-feedback"> Error here! </div>
            </div>
            <button class="btn btn-primary" type="submit"><i class="mdi mdi-account-search"
                    style="margin: -15px 0px;"></i> Search Employee</button>
        </div>

        <div style="text-align: right;">
        </div>

    </form>

    <!-- show Employee info -->
    <div *ngIf="employees.length>0">

        <div class="showingUserInfo">

            <div class="userInfo">
                <label>Code:</label>
                <div>{{employees[0].EmployeeCode}}</div>
            </div>

            <div class="userInfo">
                <label>Identification:</label>
                <div>{{employees[0].Identification}}</div>
            </div>

            <div class="userInfo">
                <label>FullName:</label>
                <div>{{employees[0].EmployeeSurname}} {{employees[0].EmployeeName}}</div>
            </div>

        </div>


        <div class="table-responsive">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-center">Year</th>
                        <th class="text-center">Month</th>
                        <th class="text-center">Base salary</th>
                        <th class="text-center">Production bonus</th>
                        <th class="text-center">Compensation bonus</th>
                        <th class="text-center">Commission</th>
                        <th class="text-center">Contributions</th>
                        <th class="text-center">Total salary</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of employees">
                        <td class="text-center">{{ employee.Year }}</td>
                        <td class="text-center"> {{ employee.Month }}</td>
                        <td class="text-center">{{ employee.BaseSalary | mycurrency }}</td>
                        <td class="text-center">{{ employee.ProductionBonus | mycurrency }}</td>
                        <td class="text-center">{{ employee.CompensationBonus | mycurrency }}</td>
                        <td class="text-center">{{ employee.Commission | mycurrency }}</td>
                        <td class="text-center">{{ employee.Contributions | mycurrency }}</td>
                        <td class="text-center">{{ employee.TotalSalary | mycurrency }}</td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div class="averageItem">
            <label class="averageTitle">Total average salary:</label>
            <div class="averageValue">{{TotalAverageSalary | mycurrency}}</div>
        </div>


    </div>

    <!-- case no Empoyee Found -->
    <div *ngIf="employees.length===0 && searched">
        Employee not found, try again..
    </div>

    <!-- case no Empoyee Found -->
    <div *ngIf="!searched" style="font-size: 15; color: darkgray;text-align: center;padding-top: 50px;">
        Type employee code and press "search Employee" to proceed..
    </div>

</div>