.all {
  display: flex;
  flex-direction: column;
}

.showingUserInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  padding-top: 20px;
}
.userInfo {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  align-items: baseline;
}

label {
  font-size: 10px;
  font-weight: bold;
  padding-right: 3px;
}

div {
  font-size: 15px;
  padding-right: 5px;
}

.averageItem {
  display: flex;
  flex-direction: row;
  padding: 30px;
  justify-content: center;
  align-items: flex-end;
}
.averageTitle {
  font-size: 15px;
}
.averageValue {
  font-size: 25px;
  padding: 0px 50px;
  background-color: lightgrey;
  margin-bottom: 0;
}
